{% extends "global/base.html" %}

{% load static %}

{% block title %} Andromeda Labs {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">                       
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view hm-black-light">
                    <img class="d-block w-100 img-fluid" src="{% static 'img/1.jpeg' %}" alt="First slide">
                    <div class="mask"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Light mask</h3>
                    <p>First text</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view hm-black-strong">
                    <img class="d-block w-100" src="{% static 'img/2.jpeg' %}" alt="Second slide">
                    <div class="mask"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Mayor eficiencia</h3>
                    <p>Con <b>Andrómeda Labs</b> &copy; puede llevar un mayor control sobre la información
                    de los pacientes, de manera confiable, segura y rápida.</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view hm-black-slight">
                    <img class="d-block w-100" src="{% static 'img/3.jpeg' %}" alt="Third slide">
                    <div class="mask"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Slight mask</h3>
                    <p>Third text</p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="fa fa-angle-double-left fa-lg" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="fa fa-angle-double-right fa-lg" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
                    
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.carousel').carousel({
        interval: 2000
      })
</script>
{% endblock content %}