{% extends "global/base.html" %}

{% block title %} {{paciente.first_name}} {% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card-header deep-orange lighten-1 white-text" style="text-align:center;">
          Detalle de paciente - {{paciente.get_full_name}} #uid {{paciente.udi}}
        </div>
        <br>
        <div class="jumbotron">
            <h1 class="h1-responsive">Información personal general</h1>
            <!-- Button trigger modal -->
            <button id="btnEdit" type="button" class="btn btn-unique btn-sm" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-pencil"></i> Editar
            </button>
            <!-- Button trigger Delete modal -->
            <button type="button" id="deletePacienteDetail" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
                <i class="fa fa-trash"></i> Eliminar
            </button>

              {% include "hiscli/includes/edit_paciente_modal.html" %}
              {% include "hiscli/includes/delete_paciente_modal.html" %}
            <p class="lead">
              <div class="row">
                <div class="col">
                  <input type="text" id="object_to_delete" hidden value="{{paciente.pk}}">
                  <b>Nombre(s)</b><br>
                  <b>Apellidos</b><br>
                  <b>Sexo</b><br>
                  <b>Fecha de nacimiento</b><br>
                  <b>Edad</b><br>
                  <b>Número de telefono</b><br>
                  <b>Estado civil</b><br>
                  <b>Religión</b><br>
                </div>
                <div class="col">
                  {{paciente.first_name}}<br>
                  {{paciente.last_name}}<br>
                  {% if paciente.gender == "F" %}
                    Femenino
                  {% elif paciente.geder == "M" %}
                    Masculino
                  {% endif %}
                  <br>
                  {{paciente.birth_day}}<br>
                  {{paciente.get_age}}<br>
                  +52 {{paciente.phone_number}}<br>
                  {% if paciente.civil_status == "S" %}
                    Soltero(a)
                  {% elif paciente.civil_status == "C" %}
                    Casado(a)
                  {% elif paciente.civil_status == "D" %}
                    Diviorciado(a)
                  {% endif %}<br>
                  {{paciente.religion}}
                </div>
                <div class="col">
                  <b>Dirección</b><br>
                  <b>País</b><br>
                  <b>Estado</b><br>
                  <b>Localidad</b><br>
                  <b>Ultimo grado de estudios</b><br>
                  <b>Ocupación primaria</b><br>
                  <b>Ocupación secundaria</b><br>
                  <b>Correo electrónico</b>
                </div>
                <div class="col">
                  {{paciente.address}}<br>
                  {{paciente.country}}<br>
                  {{paciente.city}}<br>
                  {{paciente.location}}<br>
                  {{paciente.scholarship}}<br>
                  {{paciente.ocupattion}}<br>
                  {% if paciente.ocupattion2 == null %}
                    No tiene
                  {% else %}
                    {{paciente.ocupattion2}}
                  {% endif %}<br>
                  {{paciente.email}}
                </div>
              </div>
            </p>
            <hr class="my-2">
            <h2>Antecedentes</h2>
            <!-- Button trigger modal -->
            <button type="button" id="btnAddAntecedente" class="btn btn-deep-purple btn-sm" data-toggle="modal" data-target="#antecedente">
              Agregar
            </button>
            {% include "hiscli/includes/add_antecedente.html" %}
            <p class="lead">
              <div class="row">
                <div class="col">
                  <b>Motivo de la consulta</b><br><br>
                  <b>Antecedentes de enferdad(es)</b>
                </div>
                <div class="col">
                  {{antecedentes.motivo}}<br><br>
                  {{antecedentes.antecedentes}}
                </div>
              </div>
            </p>
            <hr>
            <h2>Antecedentes HeredoFamiliares</h2>
            <p class="lead">
              <div class="row">
                <div class="col">
                  <b>Padres (Vivos/muertos)</b><br>
                  <b>¿Causa de muerte?</b><br><br>
                  <b>Hermamos (Vivos/muertos)</b><br>
                  <b>¿Causa de muerte?</b><br><br>
                  <b>Hijos (Vivos/muertos)</b><br>
                  <b>¿Causa de muerte?</b><br><br>

                </div>
                <div class="col">
                  {% if ahf.parents == "V" %}
                    Vivos
                  {% else %}
                    Muertos
                  {% endif %}<br>
                  {{ahf.parents_causa}}<br><br>
                  {% if ahf.brothers == "V" %}
                    Vivos
                  {% else %}
                    Muertos
                  {% endif %}<br>
                  {{ahf.brothers_causa}}<br><br>
                  {% if ahf.sons == "V" %}
                    Vivos
                  {% else %}
                    Muertos
                  {% endif %}<br>
                  {{ahf.sons_causa}}<br>
                </div>
                <div class="col">
                  <b>Diabetes Mellitus (DBT)</b><br>
                  <b>HiperTensión Arterial (HTA)</b><br>
                  <b>Tuberculosis (TBC)</b><br>
                  <b>Gemelar (GM)</b><br>
                  <b>Otra</b>
                </div>
                <div class="col">
                  {% if ahf.DBT == "P" %}
                    Positivo
                  {% else %}
                    Negativo
                  {% endif %}<br>
                  {% if ahf.HTA == "P" %}
                    Positivo
                  {% else %}
                    Negativo
                  {% endif %}<br>
                  {% if ahf.TBC == "P" %}
                    Positivo
                  {% else %}
                    Negativo
                  {% endif %}<br>
                  {% if ahf.GM == "P" %}
                    Positivo
                  {% else %}
                    Negativo
                  {% endif %}<br>
                  {{ahf.other}}
                </div>
              </div>
            </p>
            <hr>
            <h2>Antecedentes personales</h2>
            <div class="row">
              <div class="col">
                <b>Alcohol</b><br>
                <b>Tabaco</b><br>
                <b>Drogas</b><br>
                <b>Infusiones</b><br>
              </div>
              <div class="col">
                {{ap.alcohol}}<br>
                {{ap.tabaco}}<br>
                {{ap.drogas}}<br>
                {{ap.infusiones}}<br>
              </div>
            </div>
            <hr>
            <h2>Antecedentes Fisiológicos</h2>
            <div class="row">
              <div class="col">
                <b>Dipsia</b><br>
                <b>Diuresis</b><br>
                <b>Catarsis</b><br>
                <b>Somnia</b><br>
                <b>Otra(s)</b><br>
              </div>
              <div class="col">
                {{fisio.dipsia}}<br>
                {{fisio.diuresis}}<br>
                {{fisio.catarsis}}<br>
                {{fisio.somnia}}<br>
                {{fisio.others}}<br>
              </div>
            </div>
            <hr>
            <h2>Patológicos</h2>
            <div class="row">
              <div class="col">
                <b>Infancia</b><br>
                <b>Adulto</b><br>
                <b>Diabetes Mellitus</b><br>
                <b>HiperTensión Arterial</b><br>
                <b>Tuberculosis</b><br>
                <b>Gemelar</b><br>
              </div>
              <div class="col">
                {{pato.infancia}}<br>
                {{pato.adulto}}<br>
                {{pato.DBT}}<br>
                {{pato.HTA}}<br>
                {{pato.TBC}}<br>
                {{pato.GM}}<br>
              </div>
              <div class="col">
                <b>Otras</b><br>
                <b>Quirurgicos</b><br>
                <b>Traumalógicos</b><br>
                <b>Alergicos</b><br>
                <b>Otras</b><br>
              </div>
              <div class="col">
                {{pato.other}}<br>
                {{pato.quirurgicos}}<br>
                {{pato.traumalogicos}}<br>
                {{pato.alergicos}}<br>
                {{pato.others}}<br>
              </div>
            </div>
            <hr>
            <h2>Signos vitáles</h2>
            <div class="row">
              <div class="col">
                <b>Pulso</b><br>
                <b>Temperatura</b><br>
                <b>Respiración</b><br>
                <b>Presión Arterial</b><br>
              </div>
              <div class="col">
                {{signos.pulso}}<br>
                {{signos.temperatura}}<br>
                {{signos.respiracion}}<br>
                {{signos.arterial}}<br>
              </div>
            </div>
            <a class="btn btn-primary btn-lg" role="button">Imprimir reporte/PDF</a>
        </div>

      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function () {
    $("#btnEdit").click(function(e){
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: $(".form-edit").attr('action'),
        data: {},
        dateType: 'json',
        success: function(data) {
          console.log(data);
          $("#id_first_name").val(data.first_name);
          $("#id_last_name").val(data.last_name);
          $("#id_gender").val(data.gender);
          $("#id_birth_day").val(data.birth_day);
          $("#id_phone_number").val(data.phone_number);
          $("#id_civil_status").val(data.civil_status);
          $("#id_religion").val(data.religion);
          $("#id_address").val(data.address);
          $("#id_country").val(data.country);
          $("#id_city").val(data.city);
          $("#id_location").val(data.location);
          $("#id_scholarship").val(data.scholarship);
          $("#id_ocupattion").val(data.ocupattion);
          $("#id_ocupattion2").val(data.ocupattion2);
          $("#id_email").val(data.email);
        },
        error: function(data) {
          console.log(data);
        }
      });
    });
    $("#btnSave").click(function(e) {
      e.preventDefault();
      var pacienteU = {
          'first_name': $("#id_first_name").val(),
          'last_name': $("#id_last_name").val(),
          'gender': $("#id_gender").val(),
          'birth_day': $("#id_birth_day").val(),
          'phone_number': $("#id_phone_number").val(),
          'civil_status': $("#id_civil_status").val(),
          'religion': $("#id_religion").val(),
          'address': $("#id_address").val(),
          'country': $("#id_country").val(),
          'city': $("#id_city").val(),
          'location': $("#id_location").val(),
          'scholarship': $("#id_scholarship").val(),
          'ocupattion': $("#id_ocupattion").val(),
          'ocupattion2': $("#id_ocupattion2").val(),
          'email': $("#id_email").val(),
      }
      $.ajax({
        type: 'PUT',
        url: '/api/paciente-detail/' + $("#object_to_delete").val() + '/',
        data: JSON.stringify(pacienteU),
        contentType: "application/json; charset=utf-8",
        success: function(res) {
          console.log(res)
        },
        error: function(res) {
          console.log(res);
        }
      });
    });

    $("#btnAddAntecedente").click(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: $(".formAddPaciente").attr('action'),
        data: {},
        dateType: 'json',
        success: function(res) {
          console.log(res);
          $(".formAddPaciente textarea").val(res.antecedentes);
        },
        error: function(res) {
          console.log(res);
        }
      });
    });

    var pk = $("#object_to_delete").val();
    $("#DeletePacienteYes").click(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'DELETE',
        url: "/api/paciente-detail/" + pk,
        success: function() {
          alert("Paciente eliminado.");
          location.href="/historia-clinica/"
        },
        error: function() {
          console.log("hubo un error");
        }
      });
    });
  });

  </script>
{% endblock content %}
