<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="danger-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres eliminar este paciente?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                <button type="button" id="DeletePacienteYes" class="btn btn-danger">Si, eliminar</button>
            </div>
        </div>
    </div>
</div>
<style media="screen">
  #danger-header{
    background-color: #ff4b4b;
  }
</style>
