{% if pacientes %}
    {% for paciente in pacientes %}
    <input type="text" hidden name="paciente_id" class="paciente_id" value="{{paciente.pk}}">
        <tr class="table-results">
            <td>{{paciente.id}}</td>
            <td>{{paciente.first_name}}</td>
            <td>{{paciente.last_name}}</td>
            <td>{{paciente.gender}}</td>
            <td>{{paciente.phone_number}}</td>
            <td>{{paciente.address}}</td>
            <td>{{paciente.country}}</td>
            <td>{{paciente.email}}</td>
            <td>
                {% if request.user == paciente.user %}
                    <button data-id="{{paciente.pk}}" name="{{paciente.pk}}" class="btn btn-danger btn-sm btnDeletePaciente">Eliminar</button>
                    <a href="{% url 'core:paciente_detail2' pk=paciente.pk %}" class="btn btn-unique btn-sm">Ver</a>
                {% else %}
                  <p>No tienes permisos para editar este paciente</p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
<tr>
<td colspan="8" class="text-center bg-warning">Aún no se han registrado pacientes</td>
</tr>
{% endif %}
