{% extends "global/base.html" %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1>{% "Cerrar sesión" %}</h1>

<p>{%  '¿Estas seguro(a) que deseas salir?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-warning">{% 'Cerrar sesión' %}</button>
</form>
<style media="screen">
body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
      padding-top: 56px;
  }
}
</style>

{% endblock %}