{% extends "global/base.html" %}

{% block content %}

<!-- Form login -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
                <div class="card float-md-right" style="width: 28rem;" id="form-login">
                        <div class="card-body">
                            <div class="form-header default-color">
                                <h3>Login:</h3>
                            </div>
                            <form action="" method="post">{% csrf_token %}
                                {{form.as_p}}
                                <div class="text-center">
                                    <input type="submit" class="btn btn-default btn-lg" value="Entrar">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="options">
                                <p>Registrate <a href="{% url 'users:user_register' %}">aquí</a></p>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>                 

{% endblock content %} 
<!-- CSS -->
<style type="text/css">
    body {
        padding-top: 60px;
      }
      @media (min-width: 992px) {
        body {
            padding-top: 56px;
        }
    }
</style>