{% extends "global/base.html" %}

{% block content %}
    <!-- register form -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
                <div class="card float-md-right" style="width: 28rem;" id="form-login">
                        <div class="card-body">
                            <div class="form-header default-color">
                                <h3>Registrate:</h3>
                            </div>
                            <form action="{% url 'users:user_register' %}" method="post">{% csrf_token %}
                                {{form.as_p}}
                                <div class="text-center">
                                    <input type="submit" class="btn btn-default btn-lg" value="Registrarse">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="options">
                                <p>Inicia sesión <a href="/accounts/login/">aquí</a></p>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>                 


{% endblock content %}